/*
Theme Name: jetaime
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/


@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/


}

:root {
	--nsc-primary : #141244;
	--nsc-second : #3595D2;
	--nsc-third : #29A3F1; 
}
.slider-home .flickity-page-dots { bottom:-120px!important}
.tintuc-home .flickity-page-dots, .doitac-home .flickity-page-dots, .khachhang-home .flickity-page-dots { bottom:-5px!important}
.flickity-page-dots .dot {background-color:#fff; border-color:#fff; opacity:1; width:6px; height:6px; vertical-align: middle; }
.flickity-page-dots .is-selected {background-color:#29A3F1!important; border:unset; width:12px; height:12px }
.img-nsc img{border-radius:20px; border: 1px solid #29A3F1}
.img-news img{border-radius:20px; }
.image-cty-nsc img{border-radius:20px; border: 6px solid #3595D2}
.excerpt-nsc {font-size: 18px; color: #fff}
.expcert-news {color: #000 }
.btn-nsc {background-image: linear-gradient(to right, #3858FF, #4DBFFF); border:none}

.dvk-nsc {margin-top:40px}
.dvk-nsc .icon-inner{background-image: linear-gradient(to right, #3858FF, #4DBFFF);  padding:20px; border-radius: 20px }

.icon-banner3 {background:url(../public/icon-banner3.png);height: 435px; }
ul.mega-sub-menu {border-radius:10px}

ul.banner2-nsc li {color : #bbe5ff; list-style:none; margin-bottom:20px; margin-left:30px;}

ul.banner2-nsc li:before {content:""; background: url("/wp-content/uploads/2022/12/icon-arrow.png") left center no-repeat; 
left: -15px; position:absolute; width:28px; height: 28px }

.slider-home {min-height:96vh}
.slider-home .section-bg.bg-loaded {background-position: 100% 100%!important;}
.slider-home .row {height:500px}
.slider-home .banner3-nsc .col-inner {top:50px}

.section-dichvu {background: linear-gradient(to right, #3858FF, #4DBFFF);}

.icon-dv img {filter: brightness(5.5); }
.icon-dv .box-image {border-radius:50%; border: 2px solid #234093;padding:20px}

.icon-dv .box-image:hover {background-image: linear-gradient(to right, #3858FF, #4DBFFF); cursor:pointer}
.icon-dv .box-image:hover img {filter: brightness(15); }

.icon-dv h4 {color:white; font-size:16px; font-weight:bold;}
.icon-dv p {color: var(--nsc-second); font-size:16px; background:#142F7E; width:40%; padding:10px; 
 margin:0 auto; border-radius: 10px}

.row-dichvu {height:900px}

.reward .col {padding:0}
.reward .box-text h5.post-title {font-weight:bold; font-size: 30px; color: #BBE5FF}

.news-home-nsc .col {padding-bottom:0}
.news-home-nsc h5.post-title {font-size:25px; height:70px; font-weight:bold; color : #234093;
	display: -webkit-box;	-webkit-line-clamp: 2;	-webkit-box-orient: vertical;	overflow: hidden;
	text-overflow: ellipsis; }

.col-lienhe .col-inner , .items-td .col-inner,  .news-home-nsc .post-item .col-inner{background-color: #bbe5ff; border-radius:20px; padding: 10px 0 0 0 }

.tintuc-home .tabbed-content li:nth-child(2) {color:red; border-left:1px solid #ccc; 
	border-right:1px solid #ccc;height: 20px;    line-height: 0px;}
.tintuc-home .tabbed-content li.active span{font-size:25px; color:#BBE5FF; font-weight:bold;}
.tintuc-home .tabbed-content li {padding:0 20px}
.tintuc-home .tabbed-content .has-icon span{color:#fff}



.col-lienhe.col { padding-bottom:0}
.col-lienhe .col-inner {padding: 20px}
.col-lienhe .social-icons a {border:1px solid #3595D2 ; margin-right:10px; border-radius: 7px; padding: 6px;
background-image:linear-gradient(45deg, #234093, #3595D2);}
.col-lienhe .social-icons .icon i {color: white }

.col-lienhe p i {font-size:25px; width:20px}
.col-lienhe p strong {font-size:18px;padding-left:10px; }
.col-lienhe p span {padding-left:35px}

.form-lh .col {padding:0}
.form-lh input, .form-lh textarea {border-radius:10px; border:none; box-shadow:unset; background-color: #DCF1FF}
.form-lh .intl-tel-input {width: 100%; margin-bottom:15px}
.form-lh ::placeholder {color:#234093}
.form-lh #mfcf7_zl_add_file, .form-recruit #mfcf7_zl_add_file  {background-color:#234093}
.form-lh .delete-file img, .form-recruit .delete-file img {font-size:10px}
.form-lh div#mfcf7_zl_multifilecontainer p, .form-recruit div#mfcf7_zl_multifilecontainer p {margin:0}
.form-lh div#mfcf7_zl_multifilecontainer, .form-recruit div#mfcf7_zl_multifilecontainer {margin-top:0}

.form-lh p i {font-size:14px; width:auto;display: contents;}
.form-lh p span {padding-left:0px}
.form-lh p button {border-radius:10px}
.form-lh #mfcf7_zl_multifilecontainer .wpcf7-form-control-wrap input:after {content:"123"}


.arrow-left::before { content:"";left:-10px; margin: 5% 0;  position:absolute; width: 0;  height: 0;  border-top: 10px solid transparent; 
	border-bottom: 10px solid transparent;  border-right:10px solid #142F7E; }

.arrow-right::before { content:""; right:-10px; margin: 5% 0; position:absolute; width: 0;   height: 0;   border-top: 10px solid transparent;
  	border-bottom: 10px solid transparent;  border-left: 10px solid #142F7E;}

.arrow-bottom:before { content:""; bottom:-10px; margin:0 45% ; position:absolute; width: 0;  height: 0; 
  border-left: 10px solid transparent; border-right: 10px solid transparent;  border-top: 10px solid #142F7E;}



/*CSS icon dich vu*/


.icon-dv {position: absolute;}
.icon1-dv ,.icon2-dv ,.icon3-dv ,.icon4-dv ,.icon5-dv ,.icon6-dv ,.icon7-dv ,.icon8-dv ,.icon9-dv {opacity:0; }

.row-dichvu [data-animated=true] .icon1-dv {opacity:1!important ;  transition: opacity 3s cubic-bezier(0.55, 0.06, 0.68, 0.19);}
.row-dichvu [data-animated=true] .icon2-dv {opacity:1!important ;  transition: opacity 3.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);}
.row-dichvu [data-animated=true] .icon3-dv {opacity:1!important ;  transition: opacity 3.6s cubic-bezier(0.55, 0.06, 0.68, 0.19);}
.row-dichvu [data-animated=true] .icon4-dv {opacity:1!important ;  transition: opacity 3.9s cubic-bezier(0.55, 0.06, 0.68, 0.19);}
.row-dichvu [data-animated=true] .icon5-dv {opacity:1!important ;  transition: opacity 4.2s cubic-bezier(0.55, 0.06, 0.68, 0.19);}
.row-dichvu [data-animated=true] .icon6-dv {opacity:1!important ;  transition: opacity 4.5s cubic-bezier(0.55, 0.06, 0.68, 0.19);}
.row-dichvu [data-animated=true] .icon7-dv {opacity:1!important ;  transition: opacity 4.8s cubic-bezier(0.55, 0.06, 0.68, 0.19);}
.row-dichvu [data-animated=true] .icon8-dv {opacity:1!important ;  transition: opacity 5.1s cubic-bezier(0.55, 0.06, 0.68, 0.19);}
.row-dichvu [data-animated=true] .icon9-dv {opacity:1!important ;  transition: opacity 5.4s cubic-bezier(0.55, 0.06, 0.68, 0.19);}


.icon1-dv p, .icon2-dv p, .icon3-dv p, .icon4-dv p, .icon5-dv p, .icon6-dv p,
.icon7-dv p,.icon8-dv p,.icon9-dv p {position:relative; text-align:left;
opacity:0; transition: opacity 1s ease-out; }

.icon1-dv .box-image:hover + div.box-text p,
.icon2-dv .box-image:hover + div.box-text p,
.icon3-dv .box-image:hover + div.box-text p,
.icon4-dv .box-image:hover + div.box-text p,
.icon5-dv .box-image:hover + div.box-text p,
.icon6-dv .box-image:hover + div.box-text p,
.icon7-dv .box-image:hover + div.box-text p,
.icon8-dv .box-image:hover + div.box-text p,
.icon9-dv .box-image:hover + div.box-text p{opacity:1}




.icon-main-dv {top:250px}

.icon1-dv .box-image, .icon1-dv .box-text{top:-310px;}
.icon1-dv p {top:-240px;}


.icon2-dv .box-image, .icon2-dv .box-text{bottom:240px; left:200px;}
.icon2-dv p {top:-150px;left:240px; width: 30%}

.icon3-dv .box-image, .icon3-dv .box-text{bottom:80px; left:320px;z-index:1}
.icon3-dv p {top:-150px;left:180px; width: 20%}

.icon4-dv .box-image, .icon4-dv .box-text{top:115px; left:270px;z-index: 1;}
.icon4-dv p {top:-125px;left:210px; width: 25%}

.icon5-dv .box-image, .icon5-dv .box-text{top:240px; left:140px;z-index: 8;}
.icon5-dv p {bottom:120px;left:250px; width: 32%}

.icon6-dv .box-image, .icon6-dv .box-text{top:240px; left:-100px; z-index: 8;}
.icon6-dv p {top:-120px;right:270px; width: 35%}

.icon7-dv .box-image, .icon7-dv .box-text{top:115px; right:270px;z-index:7;}
.icon7-dv p {top:-150px;right:210px; width: 25%}

.icon8-dv .box-image, .icon8-dv .box-text{bottom:80px; right:320px;z-index: 6;}
.icon8-dv p {top:-135px;right:180px; width: 20%}

.icon9-dv .box-image, .icon9-dv .box-text{bottom:240px; right:200px;}
.icon9-dv p {top:-150px;right:245px; width: 30%}


/*Css page DV */
.dichvu-home p {color : #BBE5FF }
.dichvu-home .row {margin-bottom:70px}
.page-services-nsc .section-bg.bg-loaded{background-image: url(/wp-content/uploads/2022/12/bg-dichvu-nsc.png);}

.page-services-nsc .tabbed-content ul.nav-vertical  li { border-top:unset; margin-bottom: 20px;}
.page-services-nsc .tabbed-content ul.nav-vertical li span {color:#5B5A7F; font-weight:bold; font-size:16px;text-transform: none;}
.page-services-nsc .tabbed-content ul.nav-vertical li a:before{opacity:1!important;  width: 2px}
.page-services-nsc .tabbed-content ul.nav-vertical li.active a:before,
.page-services-nsc .tabbed-content ul.nav-vertical li:hover a:before
 {background-color:#29A3F1;}

.page-services-nsc .tabbed-content ul.nav-vertical li.active  span { color: #BCE5FF; font-size:18px}
.page-services-nsc .content-page-nsc.active {position:relative; }

.page-services-nsc .content-page-nsc { position:absolute; border-left:unset; border: 2px solid #BBE5FF;border-radius: 20px;
padding:5px 1px 10px 20px; top:0}
.page-services-nsc .tab-panels {border-left:unset; margin-left:30px; }
.page-services-nsc .tab-panels h3 {padding-top:15px}
.page-services-nsc .tab-panels ul {padding-right:20px}
.page-services-nsc .tab-panels ul li, .page-services-nsc .tab-panels p {color : #fff }
.page-services-nsc .tab-panels ul li {list-style:none; clear:both}

.page-services-nsc .tab-panels ul li {list-style:none}

.page-services-nsc .tab-panels ul li { /*display: flex;   flex-direction: row; align-items: flex-start;*/}


.page-services-nsc .tab-panels ul li:before{
	content: '\f05d';
	margin-right: 10px;
	font-family: "FontAwesome";

}


.page-services-nsc .content-page-nsc::-webkit-scrollbar {width: 1px;}

 
.page-services-nsc .content-page-nsc::-webkit-scrollbar-thumb {
  	background-color: #29A3F1;
  	outline: 2px solid #29A3F1;
	border-radius: 10px;
}

.page-services-nsc .flickity-prev-next-button svg {border-radius:10px; border:1px solid #3595D2;padding: 12px;
background-image: linear-gradient(to right, #234093, #3595D2);}

.page-services-nsc .flickity-prev-next-button {
  top: -210px;
  -webkit-transform: none;
          transform: none;
}

.page-services-nsc .flickity-prev-next-button.previous {
  left: auto;
  right: 60px;
}

.page-services-nsc .flickity-prev-next-button.next {
  right: 10px;
}


.muctieu-vct .col {padding-bottom:0}
.muctieu-vct .col-inner {background-color: #bbe5ff; padding:20px 20px 0px 20px; border-radius:15px}
.muctieu-vct .icon-inner{background-image: linear-gradient(to right, #3858FF, #4DBFFF);  padding:10px; border-radius: 20px }


.chungchi .icon-box-img, .chungchi .icon-box-text{border:1px solid #3595D2; border-radius:15px; padding-top:10px}

.chungchi .icon-box-text {margin-left:20px}

.slide-chungchi .flickity-prev-next-button {
  bottom: -480px;
  -webkit-transform: none;
          transform: none;
}

.slide-chungchi .flickity-prev-next-button.previous {
  left: auto;
  right: 470px;
}

.slide-chungchi .flickity-prev-next-button.next {
  right: 410px;
}

.archive-news .section-bg.bg-loaded, .single-news .section-bg.bg-loaded {background-image: url(/wp-content/uploads/2022/12/bg-dichvu-page-nsc.png);}

.archive-news {padding:150px 0px; background-color: rgb(20, 18, 68);}

.content-news ,  .single-news, .tuyendung, .form-recruit{background-color: rgb(20, 18, 68);}
.content-news {padding-top:30px; color:#fff}

.news-nsc h5.post-title{ font-size:30px; color : #fff }
.news-nsc .from_the_blog_excerpt {color:#fff; font-size: 16px}
.news-nsc .post-meta-nsc{position:absolute; text-align:center; background: #bbe5ff;top: 0; z-index: 1; 
padding:0px 25px 10px 25px ;  left: 50px; border-radius: 0 0 10px 10px; color: #000}
.news-nsc .post-meta-nsc .d-nsc {font-size: 40px; font-weight:bold; }
.news-nsc .post-meta-nsc .m-nsc {font-size:16px;}
.news-nsc .cate-nsc a{ color: #bbe5ff; font-weight:bold; font-size:14px}

.content-news .large-3.col { padding:0 5px}
.widget-title span {color : #bbe5ff; text-transform: none ;}

.mega-menu-description, .page-header-excerpt{display:none!important}
.widget_categories ul li {border-top:none!important}
.widget_categories ul li a {color: #fff ; font-weight:bold; font-size:14px;}
.widget_categories ul li.current-cat a {color: #bbe5ff; }
.widget_search form > .flex-row {direction:rtl; }
.widget_search form > .flex-row > .flex-grow {direction:ltr }
.widget_search form .flex-row input{ border-radius: 0px 10px 10px 0;border:unset; background-color: #15266C}
.widget_search form .flex-row input:focus {box-shadow:none; color:#fff}
.widget_search form .flex-row input::placeholder {color: #fff}
.widget_search form .flex-row button{ border-radius: 10px 0px 0px 10px!important; background-color: #15266C}

.bvlq-sb img {border-radius:15px}
.bvlq-sb .box-text {padding:0 0 0 10px; border-bottom: 2px solid #2281DA}
.bvlq-sb .post-meta {font-size:14px; color:#bbe5ff}
.bvlq-sb h5.post-title {font-size:16px; color:#fff}

.items-td .col-inner {padding: 20px}
.items-td .post-meta {color: #2281DA; font-size:14px}
.items-td i {width:20px; }
.items-td .diadiem, .items-td .muc_luong, .items-td .so_luong, .items-td .han_nop_hs
{color: var(--nsc-primary); font-size:16px; padding-bottom: 15px; }

.tong_quan_cv {border:1px solid #bbe5ff;  border-radius:15px; padding: 20px}
.tong_quan_cv .d-recruit  {padding:20px 0px 30px 0; border-bottom:1px dotted #bbe5ff}
.tong_quan_cv .d-recruit:last-child{border:none}
.tong_quan_cv .d-recruit p{margin-bottom:0px; font-weight:bold}
.tong_quan_cv .d-recruit i {padding-right:10px}

.recruit-nsc ul li{padding-left:20px; list-style:none;}
.recruit-nsc ul li:before {content:"\f0da"; padding-right:10px; font-family:"FontAwesome"; }

.form-recruit {border-radius:10px; padding-top: 30px}
.form-recruit label {color: #fff; }
.form-recruit .col {padding-bottom:0;}
.form-recruit input {border:none; border-radius:10px}

.tintuc-home .tab-panels {margin-top:25px}

#footer p {margin-bottom:0px}

#footer .social-icons .icon i , .nsc-social .social-icons .icon i {color: #BBE5FF;}
#footer .social-icons a, .nsc-social .social-icons a  {border:1px solid #BBE5FF; border-radius:5px;padding:5px 7px}
.absolute-footer {color:white;}


/*Css Phan Trang */
.nav-pagination {width:100%}
.nav-pagination li a, .nav-pagination li span,  .nav-pagination li a:hover, .nav-pagination li span:hover
 {border-radius:5px;  border:1px solid #BBE5FF;}
.nav-pagination li .current,  .nav-pagination li a:hover{background-color:#234093;border-color: #BBE5FF;}
.nav-pagination li a {color: #BBE5FF!important}

/*Custome BG Full*/
#footer .section-bg.bg-loaded {height:100%; background-position:unset!important}

/*Custome PrevNext*/
.flickity-prev-next-button {opacity:1}

.slide-nsc .flickity-button.previous:hover svg,
.slide-nsc .flickity-button.next:hover svg
{background-image: linear-gradient(to right, #3858FF, #4DBFFF);}

.slide-nsc .flickity-prev-next-button {padding:25px}

.slide-nsc .flickity-prev-next-button svg {top:0; border:1px solid #4DBFFF; padding:35%}

.slide-nsc .flickity-button.previous{left: auto;  right: 105%;}

.slide-nsc .flickity-button.next{left: 105%;  right: auto;}

/*Css custome particles */
canvas{
  display:block;
  vertical-align:bottom;
  position:absolute;
	z-index:2;
	height:790px!important;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
	
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
 z-index:1;	
}


/*Css fadeInUp */
.fadeInUp {bottom:0px}

.fadeInUp:hover {
	bottom:8px;
	transition: bottom 0.1s ease-in;
	cursor:pointer
}


@media only screen and (max-width: 549) {
  canvas{
    height: auto!important;
  }
}
